<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<!-- If you delete this meta tag, the ground will open and swallow you. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ZURBemails</title>

<link rel="stylesheet" type="text/css" href="style.css" >

</head>

<body bgcolor="#315389" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">

<!-- HEADER -->
<table class="head-wrap">
	<tr>
		<td class="header container" align="center">

			<!-- /content -->
			<div class="content">
				<table>
					<tr style="text-align: center;">
						<td>
							<a href="http://joindropin.com/">
							  <img src="https://s3.amazonaws.com/joindropin.com/emails/dropin-logo.png" width="270">
							</a>
						</td>
					</tr>
				</table>
			</div><!-- /content -->

		</td>
	</tr>
</table><!-- /HEADER -->

<!-- BODY -->
<table class="body-wrap" bgcolor="#315389">
	<tr>
		<td class="container" align="" bgcolor="">

			<!-- content -->
			<div class="content">
				<table>
					<tr>
						<td>
							<!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p> -->

							<!-- A Real Hero (and a real human being) -->
							<p><img src="https://s3.amazonaws.com/joindropin.com/emails/how-it-works.jpg"></p><!-- /hero -->
							<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p> -->
						</td>
					</tr>
				</table>
			</div><!-- /content -->

<!-- 			<div style="padding: 0 15px; max-width: 600px; margin: 0 auto; display: block;">
				<div class="content">
					<table bgcolor="">
						<tr>
							<td class="container" align="center">
								<h3 style="margin: 0;">My Rewards Available This Week</h3>
							</td>
						</tr>
					</table>
				</div>
			</div> -->

			<!-- content -->
			<div class="content">

				<table bgcolor="">
					<tr>
						<td class="small" width="20%" style="vertical-align: top; padding-right:10px;"><img src="https://s3.amazonaws.com/joindropin.com/emails/logo-only-small.png" /></td>
						<td><h3 style="color: white; margin-bottom: 12px;">Green Rock Tap &amp; Grill</h3></td>
						<!-- <td>
						</td> -->
					</tr>
					<tr>
						<td class="small" width="20%" style="vertical-align: top; padding-right:10px;"></td>
						<td style="padding-top: 10px; padding-bottom: 20px;">
							<h5 style="color: #FBE2B4; margin-bottom: 5px;">$2 Margaritas with meal purchase</h5>
							<p class="muted">Thursday July, 24 &#8594; Friday July, 25</p>
							<a class="btn">Redeem &raquo;</a>
						</td>
						<td style="padding-top: 10px; padding-bottom: 20px;">
							<h5 style="color: #FBE2B4; margin-bottom: 5px;">$2 Margaritas with meal purchase</h5>
							<p class="muted">Thursday July, 24 &#8594; Friday July, 25</p>
							<a class="btn">Redeem &raquo;</a>
						</td>
					</tr>
	<!-- 				<tr>
						<td class="small" width="20%" style="vertical-align: top; padding-right:10px;"></td>
						<td style="padding-top: 10px; padding-bottom: 20px;">
							<h5 style="color: #FBE2B4; margin-bottom: 5px;">$2 Margaritas with meal purchase</h5>
							<p class="muted">Thursday July, 24 &#8594; Friday July, 25</p>
							<a class="btn">Redeem &raquo;</a>
						</td>
					</tr> -->
				</table>

			</div><!-- /content -->

			<!-- content -->
			<div class="content"><table bgcolor="">
				<tr>
					<h3 style="color: white; margin-bottom: 12px;">Maxwell's Tavern</h3>
<!-- 					<td class="small" width="20%" style="vertical-align: top; padding-right:10px;"><img src="http://placehold.it/75x75" /></td>
					<td>
					</td> -->
				</tr>
				<tr>
					<td style="padding-top: 10px; padding-bottom: 20px;">
						<h5 style="color: #FBE2B4; margin-bottom: 5px;">$2 Margaritas with meal purchase</h5>
						<p class="muted">Thursday July, 24 &#8594; Friday July, 25</p>
						<a class="btn">Redeem &raquo;</a>
					</td>
					<td style="padding-top: 10px; padding-bottom: 20px;">
						<h5 style="color: #FBE2B4; margin-bottom: 5px;">$2 Margaritas with meal purchase</h5>
						<p class="muted">Thursday July, 24 &#8594; Friday July, 25</p>
						<a class="btn">Redeem &raquo;</a>
					</td>
				</tr>
			</table></div><!-- /content -->

			<!-- content -->
			<div style="padding: 0 15px; max-width: 600px; margin: 0 auto; display: block;">
				<div class="content">
					<table bgcolor="">
						<tr>
							<td class="container" align="center">
								<p style="color: #dddddd; font-size: 16px; padding: 0 60px; line-height: 1.2;">Congratulations! You've earned these rewards from visiting <strong style="color: white; font-size: 20px;">10 bars</strong> over the past week!</p>
							</td>
						</tr>
					</table>
				</div>
			</div><!-- /content -->

			<!-- content -->
			<div class="content"><table bgcolor="">
				<tr>
					<td>

						<!-- Callout Panel -->
						<div class="callout">
							<h3 style="color: #222222; text-align: center;">Why am I receiving this email?</h3>
							<p style="text-align: center; margin-bottom: 15px;">
								Each week, you will receive info on upcoming events and promotions, as well as a summary of rewards available to you based on your visits to Drop In partner bars. Plan your next night out with your friends to redeem!
							</p>
							<h3 style="color: #222222; text-align: center; margin-top: 30px;">What's New?</h3>
							<p style="text-align: center; margin-bottom: 15px;">
								Join us for Happy Hour at Farside Tavern this Thursday (9/29) at 7pm, co-hosted by Hoboken Happy Hours and Drop In. Redeem a Drop In reward for a <strong>Complimentary Well Drink or Draft Beer</strong> and earn another reward for your next visit! Check out more info here: <a href="https://www.facebook.com/events/1762859947327260/permalink/1769260656687189/">Facebook link - September Happy Hour at Farside Tavern</a>
							</p>
							<p class="visit-us" style="text-align: center; margin-top: 30px; margin-bottom: 0;">
								Visit us at
								<a href="http://joindropin.com">joindropin.com</a>
							</p>
						</div><!-- /callout panel -->

					</td>
				</tr>
			</table></div>
			<!-- /content -->

			<!-- content -->
			<div class="content">
				<table bgcolor="">
					<tr>
						<td>

							<!-- social & contact -->
							<table bgcolor="" class="social" width="100%">
								<tr>
									<td>

										<!--- column 1 -->
										<div class="column">
											<table bgcolor="" cellpadding="" align="left">
										<tr>
											<td>

												<a href="https://instagram.com/joindropin/" class="social-link">
												  <img src="https://s3.amazonaws.com/joindropin.com/emails/instagram-icon.png" style="margin-right: 12px;" width="44" height="44" alt="">
												</a>
												<a href="https://www.facebook.com/pages/Join-Drop-In/1660687620817077" class="social-link">
												  <img src="https://s3.amazonaws.com/joindropin.com/emails/facebook-icon.png" style="margin-right: 12px;" width="44" height="44" alt="">
												</a>
												<a href="https://twitter.com/JoinDropIn" class="social-link">
												  <img src="https://s3.amazonaws.com/joindropin.com/emails/twitter-icon.png" width="44" height="44" alt="">
												</a>


											</td>
										</tr>
									</table><!-- /column 1 -->
										</div>

										<!--- column 2 -->
										<div class="column">
											<table bgcolor="" cellpadding="" align="left">
										<tr>
											<td>

												<!-- <h5 class="">Contact Info:</h5> -->
												<p>201 Ventures LLC<br/>
												Hoboken, NJ 07030<br/></p>
                <p>
									<strong><a href="emailto:hello@joindropin.com">hello@joindropin.com</a></strong>
								</p>

											</td>
										</tr>
									</table><!-- /column 2 -->
										</div>

										<div class="clear"></div>

									</td>
								</tr>
							</table><!-- /social & contact -->

						</td>
					</tr>
				</table>
			</div><!-- /content -->


		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">

				<!-- content -->
				<div class="content">
					<table>
						<tr>
							<td align="center">
								<p class="footer">
									<a href="#">Joindropin.com</a>
									<a href="#">Terms</a>
									<a href="#">Privacy</a>
									<a href="#"><unsubscribe>Unsubscribe</unsubscribe></a>
								</p>
							</td>
						</tr>
					</table>
				</div><!-- /content -->

		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>
</html>
