/* Overrides */
html, body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: white;
  background-color: #315389;
}

body {
  padding: 15px;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

hr {
  border-color: #3d5f96;
  border-style: solid;
  border-width: 1px;
}

h3, h4 {
  margin: 0;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

.text-large {
  font-size: 1.15em;
}

/* Custom */
.bar-name {
  color: white;
}

.bar-spacer {
  margin-bottom: 45px;
}

.bar-spacer:last-child {
  margin-bottom: 0;
}

.hero {
  width: 100%;
}

a.social-link {
  text-decoration: none;
}

.text-light {
  color: #cccccc;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.instagram {
  color: #7E5249;
}

.facebook {
  color: #3D5A98;
}

.twitter {
  color: #2AA9E0;
}

.email {
  color: #444444;
}




/* column container */
.colmask {
  position:relative;  /* This fixes the IE7 overflow hidden bug */
  clear:both;
  width:100%;     /* width of whole page */
  overflow:hidden;    /* This chops off any overhanging divs */
  margin: 0 auto;
  text-align: center;
  margin-bottom: 35px;
}
/* common column settings */
/*.colright,
.colmid,
.colleft {
  float:left;
  width:100%;
  position:relative;
}*/
.col1,
.col2,
.col3 {
  float:left;
  position:relative;
  overflow:hidden;
}

.col1{
  margin: 25px 0;
}
/* 2 Column (left menu) settings */
.leftmenu {
  /*background:#fff;     right column background colour */
}

.leftmenu .col1 {
  width:100%;      /* right column content width */
}
.leftmenu .col2 {
  width:100%;
}
