<h4>List of Active Rewards</h4>
{{#each rewards}}
  <ul>
    <li>Bar: {{{this.barName}}}</li>
    <li>Reward: {{{this.rewardName}}}</li>
    <li>Start Date: {{{this.startDate}}}</li>
    <li>End Date: {{{this.endDate}}}</li>
  </ul>
{{/each}}
